body {
    margin: auto;
    background-image: url(112141.jpg);
    color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
padding-left: 5px;
}
h1 {
    text-align: center;
}
table{
    width: 100px;
    margin: auto;
}
table, tr, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    text-align: center;
}
.fejlec {
    color: #FFFFFF;
    font-size: 110%;
    text-transform: uppercase;
}
.logo {
    width: 50px;
}
img {
    width: 400px;
    border-style: ridge;
    border-color: white;
    border-radius: 10px;
    margin-top: 10px;
    
}
.navbar {
    background-color: black;
}
.card {
    background-color: darkgrey;
    margin-top: 10px;
    margin-bottom: 10px;
}
#kep {
    margin-left: 10px;
}
.forras {
    float: right;
    margin-right: 30px;
}